.verfiy-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100dvh;
    columns: 100%;
} 
h1{
    font-size:18px;
    color: #000000;
    font-weight: 400;
}
p{
    font-size: 16px;
    color:#666666 ;
    font-weight: 400;
}
.input-field{
    width: 20px;

}
.btn-resend{
    color:#f7b348 ;
    background-color: transparent;
    border: none;
}
.btn-underline{
    color: #f7b348;
    text-decoration: underline;
    background-color: transparent;
    border: none;
}