 
.login-successfull-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 100dvb;
    width: 100%;
}
h1{
    font-size: 24px;
    color: #000000;
}
p{
    font-size: 16px;
    color:#666666 ;
}
.para{
    color: #000000;
}
.container{
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}